.App {
  text-align: center;
}

header {
  height: 22vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:#07C1BB;
  color: black;
  font-weight: bold;
  padding: 10px;
 font-family: 'Indie Flower', cursive;
}

.logo {
  font-size: 7.5vh;
  margin: 5px 15px 5px 15px;
}

footer {
  background:#07C1BB;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: 'Indie Flower', cursive;
  font-size:2.5vh;
}

header ul {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

header li {
  margin: 5px 30px;
  font-size:3.1vh;
  text-decoration: none;
  border: 2px solid black;
  padding: 5px;
  font-family: 'Boogaloo', cursive;
  min-width: 40%;
}

header li:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20), 0 10px 10px rgba(0, 0, 0, 0.22)
}

.addform {
  display: flex;
  flex-direction: column;
}

.styleform {
  width: 80%;
  font-family: 'Indie Flower', cursive;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px;
  max-width: 700px;
  margin: 0 auto;
  background-color: #fff;
  border: 3px solid black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 30px auto;
}

.showform {
  width: 80%;
  font-family: 'Boogaloo', cursive;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px;
  max-width: 700px;
  margin: 0 auto;
  background-color: #fff;
  border: 3px solid black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 30px auto;
}

.showform h1 {
  font-size:6vh;
}

.showform p {
  font-size: 3.5vh;
}


.input-group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 8px 1px;
  border: 0px solid transparent;
  border-bottom: 1px solid #111;
  font-size: 1em;
  outline: 0px solid transparent;
  margin: 40px 0;
  width: 90%;
}

input[type="submit"] {
  margin: 0;
  background-color: #07C1BB;
  color: black;
  align-self: flex-end;
  padding: 12px 20px;
  border-bottom: 3px solid #111;
  border-radius: 4px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width:35%;
}

input[type="submit"]:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
}

.addtitle {
  font-size:6.5vh;
  margin: 5px auto;
  color: #222277;
  font-family: 'Righteous', cursive;
}

.home {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.allmemories {
  background-color: #FFF;
  width: 100%;
  margin: 0px;
  padding: 0px 20px 0px 0px;
  text-align: left;
  overflow: scroll;
  height: 470px;
  font-family: 'Boogaloo', cursive;
}


.map {
  width:100%;
  min-height: 400px;
  border:1px solid grey;
}

.singlememory {
  text-align: left;
  font-family: 'Boogaloo', cursive;
}

.singlememory p {
  color:#2255BB;
  font-size:3.2vh;
  border-bottom: thin solid grey;
}

.singlememory h2:hover {
  cursor: pointer;
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.19), 0 10px 10px rgba(0, 0, 0, 0.18)
}

.commentName {
  padding: 8px 1px;
  border: 0px solid transparent;
  border-bottom: 1px solid #111;
  font-size: 1em;
  outline: 0px solid transparent;
  width:25%;
  margin:5px auto 5px 0px;
}

.edit , .delete {
  margin: 40px 20px;
  background-color: #07C1BB;
  color: black;
  align-self: flex-end;
  padding: 12px 20px;
  border-bottom: 3px solid #111;
  border-radius: 4px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 30%;
}

.edit:hover {
  cursor: pointer;
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.19), 0 10px 10px rgba(0, 0, 0, 0.18)
}

.delete:hover {
  cursor: pointer;
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.19), 0 10px 10px rgba(0, 0, 0, 0.18)
}

.function {
  margin:50px auto;
}

.currenttopics {
  margin:15px auto;
  color:#07A1DD;
  font-size: 2.8vh;
}

.allmemory {
  padding:10px;
}
